<div class="row">
    <mat-card>
        <div class="col-md-12 display-in-flex">
        <span class="material-icons" [ngClass]="{'red-color': user.status === 3, 'blue-color': user.status === 2, 'green-color': user.status === 1}">
            person
        </span>
            <span class="margin-left-1rem"><b>{{user.name}}</b></span>    
        </div>
        <hr>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z0" (click)="getTickets($event)">
            <mat-tab label="Tasks ({{tasks.length}})" (click)="getTickets('task')">
                <app-contents [tickets]="tasks" (statusChange)='getAllTickets($event)'></app-contents>
            </mat-tab>
            <mat-tab label="Bugs ({{bugs.length}})" (click)="getTickets('bugs')">
                <app-contents [tickets]="bugs" (statusChange)='getAllTickets($event)'></app-contents>
            </mat-tab>
            <mat-tab label="Completed ({{completeds.length}})" (click)="getTickets('completeds')"> 
                    <app-contents [tickets]="completeds" (statusChange)='getAllTickets($event)'></app-contents>
            </mat-tab>
            <mat-tab label="In Progress ({{inprogress.length}})" (click)="getTickets('inprogress')"> 
                    <app-contents [tickets]="inprogress" (statusChange)='getAllTickets($event)'></app-contents>
            </mat-tab>
            <mat-tab label="Not Started ({{notStarted.length}})" (click)="getTickets('notStarted')">
                    <app-contents [tickets]="notStarted" (statusChange)='getAllTickets($event)'></app-contents>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>  