<!-- <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
<div class="row">
    <mat-card>
        <div class="col-md-12 display-in-flex">
        <span class="material-icons">
            person
        </span>
            <span class="margin-left-1rem"><b>{{user.name}}</b></span>    
        </div>
        <hr>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4"  (selectedTabChange)="getTickets($event)">
            <mat-tab label="Tasks({{tasks.length}})">
                <app-contents [tickets]="tasks"></app-contents>
            </mat-tab>
            <mat-tab label="Bugs({{bugs.length}})">
                <app-contents [tickets]="bugs"></app-contents>
            </mat-tab>
            <mat-tab label="Completed({{completeds.length}})"> 
                    <app-contents [tickets]="completeds"></app-contents>
            </mat-tab>
            <mat-tab label="In Progress({{inprogress.length}})"> 
                    <app-contents [tickets]="inprogress"></app-contents>
            </mat-tab>
            <mat-tab label="Not Started({{notStarted.length}})">
                    <app-contents [tickets]="notStarted"></app-contents>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>  