.red-color{
    color: red;
}
.blue-color{
    color: blue;
}
.green-color{
    color: green;
}
.bgred-color{
    background-color: red;
    color: white;
}
.bgblue-color{
    background-color: blue;
}
.bggreen-color{
    background-color: green;
}
// .white-color{
//     color: white;
// }
// .green-bgcolor{
//     background-color: green;
// }
 .mat-paginator-icon{
    background-color: yellow;
  }
  
   .mat-select-panel {
      background-color: red;
  }
  
   .mat-form-field-infix{
       background-color: red;
  }
  
//    .mat-select{
//      background-color: green;
//   }
  
   .mat-select-value{
     color: white;
  }
  
   .mat-form-field-type-mat-select .mat-form-field-label {
    color: white;
  }